$tablet-width: 1199px;
$mobile-width: 767px;

.header {
  position: relative;
  height: 100vh;
}

.header__wrapper {
  max-width: 1400px;
  padding-top: 5vh;
  height: 95vh;
  width: 90%;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 96%;
  }
}

.header__logo-links {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  height: 10vh;

  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.header__logo-link {
  margin-right: auto;

  img {
    width: 162px;
    height: 50px;

    @media (max-width: $mobile-width) {
      width: 80px;
      height: 30px;
    }
  }
}

.header__nav {
  &--active,
  &--nojs {
    @media (max-width: $mobile-width) {
      .header__links {
        display: flex;
        flex-direction: column;
      }

      .header__svg {
        display: none;
      }

      .header__svg--active {
        display: block;
      }
    }
  }

  &--active {
    .header__button {
      @media (max-width: $mobile-width) {
        display: block;
        background-image: url("../img/cross.svg");
      }
    }
  }

  &--nojs {
    @media (max-width: $mobile-width) {
      .header__links {
        position: static;
      }

      .header__button {
        display: none;
      }
    }
  }
}

.header__button {
  display: none;

  @media (max-width: $mobile-width) {
    right: 2%;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
  }
}

.header__links {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    display: none;
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    z-index: 20;
  }
}

.header__link {
  &--login {
    background: linear-gradient(270.17deg, #dd543e 2.28%, rgba(255, 255, 255, 0) 160%);
    min-width: 110px;
    font-size: 18px;
    line-height: 22px;
    padding: 3vh 10px;
    color: #ffffff;
    text-align: center;
    margin-left: 30px;
    border-radius: 7px 0 0 7px;
    font-weight: 500;
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%);
    position: relative;
    z-index: 10;
    
    @media (max-width: 1199px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  &--registration {
   color: rgba(68, 68, 68, 0.58);
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 3vh 0;
    width: 215px;
    text-align: center;
    background-color: #ffffff;
    margin-left: -44px;
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
    z-index: 15;
    
    @media (max-width: 1199px) {
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%);
    width: 175px;
    }
  }

  &--about {
    color: #444444;
    font-size: 22px;
    line-height: 29px;
    text-decoration: underline;
  }

  &--login,
  &--registration,
  &--about {
    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 18px;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      border-radius: 0;
      text-align: center;
      color: #ffffff;
      background-color: #dd543e;
      text-decoration: none;
      padding: 15px 0;
      font-weight: 500;
      margin-left: 0;
      border: none;
      border-bottom: 1px solid #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.header__image {
    
    @media (max-width: $mobile-width) {
      width: 30vw;
      height: 40vh;
      position: relative;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      min-width: 165px;
    }

  &::before {
    content: "";
    width: 51vw;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    clip-path: polygon(387px 0, 100% 0, 100% 100%, 0 100%);
    background-color: #d9b595;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: -22px 100%;
    background-size: 102%;

    @media (max-width: 1560px) {
      max-width: 605px;
    }

    @media (min-width: 1560px) {
      max-width: 41%;
    }
    
    @media (max-width: 1199px) {
      clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%);
      width: 50vw;
      max-width: 390px;
    }
    
    @media (max-width: $mobile-width) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
}

.header__promo {
  width: 70vw;
  height: 75vh;
  max-width: 85%;
    
    @media (max-width: 1199px) {
      width: 60vw;
    }
    
    @media (max-width: 767px) {
      max-width: 100%;
      width: 100vw;
    }
}

.header__promo-header {
  font-size: 5vh;
  padding-top: 6vh;
  line-height: 7vh;
  font-weight: 600;
  color: #f1513a;
  margin-bottom: 5vh;
    
    @media (max-width: $mobile-width) {
      padding-top: 0;
      margin-bottom: 2px;
      font-size: 3vh;
  line-height: 4vh;
    }
}

.header__promo-text {
  font-size: 3vh;
  line-height: 4vh;
  letter-spacing: -0.02em;
  color: #444444;
  margin-bottom: 5vh;
  width: 50vw;
  max-width: 100%;
  max-height: 40vh;
    
  @media (max-width: 1199px) {
    width: 100vw;
  }
    
    @media (max-width: 767px) {
      width: 100vw;
      max-height: 50vh;
      font-size: 3vh;
      line-height: 4vh;
    }
}

.header__promo-link {
  display: block;
  padding: 2vh;
  width: 300px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0vh;

  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  background: linear-gradient(270.17deg, #dd543e 2.28%, rgba(255, 255, 255, 0) 160%);

    
    @media (max-width: $mobile-width) {
      display: none;
    }
}
