$tablet-width: 1199px;
$mobile-width: 767px;

.header {
  padding-top: 50px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 15px;
  }
}

.header__wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 177px;

  @media (max-width: $tablet-width) {
    width: 96%;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    position: relative;
  }
}

.header__logo-links {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;

  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.header__logo-link {
  margin-right: auto;

  img {
    width: 162px;
    height: 50px;

    @media (max-width: $mobile-width) {
      width: 80px;
      height: 30px;
    }
  }
}

.header__nav {
  &--active,
  &--nojs {
    @media (max-width: $mobile-width) {
      .header__links {
        display: flex;
        flex-direction: column;
      }

      .header__svg {
        display: none;
      }

      .header__svg--active {
        display: block;
      }
    }
  }

  &--active {
    .header__button {
      @media (max-width: $mobile-width) {
        display: block;
        background-image: url("../img/cross.svg");
      }
    }
  }

  &--nojs {
    @media (max-width: $mobile-width) {
      .header__links {
        position: static;
      }

      .header__button {
        display: none;
      }
    }
  }
}

.header__button {
  display: none;

  @media (max-width: $mobile-width) {
    right: 0;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    outline: none;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
  }
}

.header__links {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: 20;
  }
}

.header__link {
  &--login {
    background: linear-gradient(270.17deg, #dd543e 2.28%, rgba(255, 255, 255, 0) 160%);
    min-width: 110px;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 10px;
    color: #ffffff;
    text-align: center;
    margin-left: 30px;
    border-radius: 7px 0 0 7px;
    font-weight: 500;
  }

  &--registration {
    color: rgba(68, 68, 68, 0.58);
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 15px 30px;
    background-color: #ffffff;

    @media (max-width: $tablet-width) {
      border: 1px solid #d9b595;
      padding: 13px;
      border-radius: 0 7px 7px 0;
    }
  }

  &--about {
    color: #444444;
    font-size: 24px;
    line-height: 29px;
    text-decoration: underline;
  }

  &--login,
  &--registration,
  &--about {
    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 18px;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      border-radius: 0;
      text-align: center;
      color: #ffffff;
      background-color: #dd543e;
      text-decoration: none;
      padding: 15px 0;
      font-weight: 500;
      margin-left: 0;
      border: none;
      border-bottom: 1px solid #ffffff;
    }
  }
}

.header__image {
  @media (max-width: $tablet-width) {
    position: relative;
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 250px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    display: block;
    width: 130px;
    height: 110px;
  }

  &::before {
    content: "";
    width: 64%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    clip-path: polygon(550px 0, 100% 0, 100% 100%, 0 100%);
    background-color: #d9b595;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: -30px 100%;

    @media (max-width: 1560px) {
      max-width: 780px;
    }

    @media (min-width: 1560px) {
      width: 50%;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      background-size: cover;
      background-position: 0 100%;
    }
  }
}

.header__promo {
  margin-top: 200px;
  width: 70%;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 0;
  }
}

.header__promo-header {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  color: #f1513a;
  margin-bottom: 25px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.header__promo-text {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #444444;
  margin-bottom: 45px;
  width: 76%;

  @media (max-width: $tablet-width) {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

.header__promo-link {
  display: block;
  padding: 15px;
  width: 300px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 100px;

  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  background: linear-gradient(270.17deg, #dd543e 2.28%, rgba(255, 255, 255, 0) 160%);

  @media (max-width: $tablet-width) {
    margin-left: 310px;
  }

  @media (max-width: $mobile-width) {
    width: 50%;
    padding: 10px 1%;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
    margin-left: 0;
  }
}
